<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ja">
  <head
    th:replace="~{common/common :: head_fragment(title='ユーザー新規登録')}"
  ></head>

  <body>
    <header></header>
    <main>
      <div class="container">
        <header>
          <h1>ユーザー新規登録</h1>
        </header>

        <section>
          <form action="" th:object="${createUserRequestBody}">
            <div class="form-group">
              <label>名前：<span class="badge bg-danger">必須</span></label>
              <input
                type="text"
                th:field="*{name}"
                th:errorclass="is-invalid"
                class="form-control"
                id="inputName"
                placeholder="Alice"
              />
              <div class="invalid-feedback" th:errors="*{name}"></div>
            </div>

            <div class="form-group">
              <label>住所：<span class="badge bg-danger">必須</span></label>
              <input
                type="text"
                th:field="*{address}"
                th:errorclass="is-invalid"
                class="form-control"
                id="inputAddress"
                placeholder="東京都千代田区千代田1-1"
              />
              <div class="invalid-feedback" th:errors="*{address}"></div>
            </div>

            <div class="form-group">
              <label>電話番号：<span class="badge bg-danger">必須</span></label>
              <input
                type="text"
                th:field="*{phone}"
                th:errorclass="is-invalid"
                class="form-control"
                id="inputPhone"
                placeholder="090-1234-1234"
              />
              <div class="invalid-feedback" th:errors="*{phone}"></div>
            </div>

            <br />

            <div class="text-center">
              <a href="" th:href="@{/users}" class="btn btn-secondary"
                >キャンセル</a
              >

              <input
                type="submit"
                th:formaction="@{/users}"
                th:formmethod="post"
                class="btn btn-primary"
                value="登録"
              />
            </div>
          </form>
        </section>
      </div>
      <!-- /.container -->
    </main>
    <footer></footer>
  </body>
</html>
